
VO_OUTPUT_TOPIC="/odometry"                  # VO Output topic
VO_OUTPUT_TYPE="O"                           # Type of VO_OUTPUT_TOPIC. O for Odometry, PS for PoseStamped, PCS for PoseWithCovarianceStamped
MSF_LAUNCH_FILE=orbslam3_gps_euroc.launch    # This file belongs to this repository. Path relative to msf_updates/launch

# Optional (only necessary if you run run_msf_rosbag.sh with -r flag)
VO_METHOD_DIR=$HOME/src/slam_agricultural_evaluation/ORB_SLAM3
VO_LAUNCH_FILE=orbslam3_euroc.launch         # This file belongs to the VO repository (ORB-SLAM3, ROVIO, etc.). Relative path

